<li id="repost-<%= repost.id %>">
  <% if repost.user.avatar? %>
  <%= link_to image_tag(repost.user.avatar, alt: repost.user.name, class: "gravatar", size: "50"), repost.user %>
  <% else %>
  <%= link_to gravatar_for(repost.user, size: 50), repost.user %>
  <% end %>
  <span class="user"><%= link_to repost.user.name, repost.user %></span>
  <span class="content"><%= repost.content %></span>
  <% if repost.image? %>
  <span class="image">
    <%= image_tag(repost.image, alt: repost.user.name+"さんの画像", class: "image") %>
  </span>
  <% end %>
  <span class="timestamp">
    <%= time_ago_in_words(repost.created_at) %> 前に投稿しました
    <% if current_user == repost.user %>
      <%= link_to "削除", repost, method: :delete,
                                       data: { confirm: "リポストを削除してもよろしいですか？" } %>
    <% end %>
  </span>
</li>