<div class="row">
  <aside class="col-md-4">
    <%= render 'layouts/side' %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿一覧 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
        <%= paginate @microposts %>
      </ol>
    <% end %>
  </div>
</div>
