<section class="user_info">
  <h1 class="clearfix">
    <%= gravatar_for @user %>
    <%= @user.name %>
    <span class="links"><%= link_to "Posts", user_path %>｜<%= link_to "Followings", followings_user_path(@user) %>｜<%= link_to "Followers", followers_user_path(@user) %></span>
  </h1>
  <table class="table">
    <tbody>
      <tr>
        <th>住所</th>
        <td><%= @user.location %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @user.tel %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= @user.contents %></td>
      </tr>
    </tbody>
  </table>
</section>